@import './variables';

@mixin button {
  display: inline-block;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border-radius: 4px;
  padding: $space-s $space-m;
  text-decoration: none;
}

@mixin button-positive {
  @include button;

  color: $color-white;
  background-color: $color-green-800;

  &:visited,
  &:focus,
  &:active {
    color: $color-white;
  }

  &:hover {
    background-color: $color-green-900;
  }
}
