// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import './variables';
@import './mixins';

// TODO: Is it more common? Is it be declared in `./mixins.scss`?
@mixin tasks_container {
  max-width: $page-max-width;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks {
  @include tasks_container;

  &__header {
    width: 100%;

    &__actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: $space-l;
    }
  }

  &__flash {
    padding: $space-m $space-l;
    border-radius: 4px;

    &--info {
      border: 2px solid $color-blue-200;
    }

    &--error {
      border: 2px solid $color-red-800;
    }
  }

  &__search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__search-group {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__search-button {
    @include button;
    color: $color-gray-900;
    background-color: $color-white;
    align-self: flex-start;

    margin-top: $space-l;

    &:visited,
    &:focus,
    &:active {
      color: $color-gray-900;
    }

    &:hover {
      background-color: $color-gray-200;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid $color-gray-400;
    margin-top: $space-l;
  }

  &__thead {
    background-color: $color-gray-400;
    color: $color-black;
  }

  &__tbody {
    background-color: $color-white;
    color: $color-gray-900;
  }

  &__row {
    border: 1px solid $color-gray-400;

    &:hover {
      background-color: $color-gray-100;
    }

    &--header {
      &:hover {
        background-color: $color-gray-400;
      }
    }
  }

  &__cell {
    font-family: sans-serif;
    padding: $space-m;
    text-align: left;

    &--right {
      text-align: right;
    }
  }

  &__new {
    @include button-positive;
  }

  &__edit {
    @include button;
    color: $color-blue-400;
    background-color: $color-white;

    &:visited,
    &:focus,
    &:active {
      color: $color-blue-400;
    }

    &:hover {
      background-color: $color-gray-200;
    }
  }

  &__delete {
    @include button;
    color: $color-red-800;
    background-color: $color-white;

    &:visited,
    &:focus,
    &:active {
      color: $color-red-800;
    }

    &:hover {
      background-color: $color-gray-200;
    }
  }

  & .pagination {
    margin-top: $space-l;
  }
}

.edit-task {
  @include tasks_container;

  &__form {
    width: 100%;
  }

  &__form-field {
    width: 100%;
    min-width: 480px; // TODO: Make it a variable
    display: flex;
    flex-direction: column;
    font-family: sans-serif;

    & + & {
      margin-top: $space-l;
    }
  }

  &__button {
    @include button-positive;

    margin-top: $space-l;
  }
}
