$color-white: #fff;
$color-black: #000;
$color-gray-100: #efefef;
$color-gray-200: #dbd8d9;
$color-gray-300: #cfcfd6;
$color-gray-400: #b9b9cf;
$color-gray-900: #1c1f30;
$color-blue-200: #90caf9;
$color-blue-400: #1b74ff;
$color-green-800: #2e7d32;
$color-green-900: #1b5e20;
$color-red-800: #c62828;

$space-s: 0.25rem;
$space-m: 0.5rem;
$space-l: 1rem;

$page-max-width: 1020px;
